body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 1rem;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
main {
    padding: 2rem;
    text-align: center;
}
section {
    margin: 2rem 0;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* home.css */

.profile-image {
    width: 150px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensure the image fills the circle */
    border: 2px solid #fff; /* Optional: Add a border around the image */
}

@media (max-width: 768px) {
    nav ul {
        display: block;
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }
    main {
        padding: 1rem;
    }
    img {
        width: 100%;
        height: auto;
    }
 }
 
